.frontpage_square{
position:relative;
overflow:hidden;
padding-bottom:100%;
}
.frontpage_square img{
position:absolute;
}

.thumbnails {
    text-align:center;
}

.lightbox {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, .8);
    z-index: 1;
}

.lightbox_table {
    width:100%;
    height:100%;
    z-index: 2;
}

.lightbox_table_cell {
    vertical-align:middle;
    z-index: 3;
}

#shift {
	position: relative;
	z-index: 0;
}
